%table#movies
    %thead
        %tr
            %th Movie Title
            %th Rating
            %th More Info
    %tbody
        - for movie in @results
            %tr
                %td= movie["title"]
                %td= movie["popularity"]
                %td= movie["overview"]
                %td=link_to 'choose_movie',set_movie_object_path(:title => movie["title"] ,:rating=>movie["poster_path"],:description=>movie["overview"],:release_date=>movie["release_date"])